<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="" th:href="@{/css/homepage.css}">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Easy Yatra</title>
</head>

<body>

	<div class="content-wrapper">
		<div class="profile-section">
			<img class="profile-image" src="https://picsum.photos/150" alt="Profile Image">
			<div class="profile-details">
				<h2>John Doe</h2>
				<p>Phone: 123-456-7890</p>
				<p>Email: johndoe@example.com</p>
				<p>DOB: January 1, 1990</p>
			</div>
		</div>

		<div class="settings-icon">
			<i class="fas fa-cog"></i>
		</div>
	</div>

	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

</html>
