<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="" th:href="@{/css/home.css}">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Easy Yatra</title>
</head>
<div class="banner">
	<div class="navbar">
		<div class="logotext">
			<h4>Easy Yatra</h4>
		</div>
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">Host Property</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Contact Us</a></li>
			<li><a href="">Developer</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
	<div class="content">
		<h1>HOST YOUR PROPERTY</h1>
		<p>Easily put your property on hosting with EasyYatra.</p>
		<div>
			<button type="button" onclick="login()"><span></span>Proceed</button>
			<button type="button"><span></span>About Us</button>
		</div>
	</div>
</div>

<body>

</html>