<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="" th:href="@{/css/profile.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
	<title>Profile Page</title>
</head>

<body>
	<div class="container">
		<div class="profile" th:object="${USER}">
<img th:src="${USER.userImages != null ? USER.userImages.size() > 0 ? USER.userImages[0].image : '/image/user.jpg' : '/image/user.jpg'}" src="https://picsum.photos/150" alt="Profile Picture"
				class="profile-pic">
			<div class="circle"></div>
		</div>
		<div class="info" th:object="${USER}">
			<h1 th:text="${USER.getName()}"></h1>
			<p class="ph"><i class="fas fa-phone"></i>
			<h3 style="display: inline; margin: 0; margin-left: 10px;" th:text="${USER.getPhoneNumber()}"></h3>
			</p>
			<p class="ph"><i class="fas fa-envelope"></i>
			<h3 style="display: inline; margin: 0; margin-left: 10px;" th:text="${USER.getEmail()}"></h3>
			</p>
		</div>
		<div class="buttons">
			<button class="button"><span></span>See Your Property</button>
			<button class="button"><span></span>Add Property</button>
			<i class="fas fa-cog fa-2x settings-icon"></i>
		</div> <span></span>
	</div>
</body>

</html>